@import '~bootstrap/scss/bootstrap';
// store styles here
//
$background-color: #ccffff;
$background-color-2: #99ff99;
$font-color: #0000cc;
$white: #fff;
$black: #000;

body {
  background-color: $background-color;
}

h3 {
  font-size: 20px;
}
.sign-up-container {
  background-color: $background-color-2;
  border: 3px solid $black;
  display: inline-block;
  font-size: 10px;
  height: 120px;
  justify-content: flex-start;
  margin: auto;
  padding: auto;
  text-align: center;
}

.sign-out-container {
  background-color: $background-color-2;
  border: 3px solid $black;
  display: inline-block;
  font-size: 10px;
  height: 120px;
  margin: 20px;
  padding: auto;
  text-align: center;
}

.container {
  // margin: 200px auto;
  align-items: center;
  border: 1px solid $black;
  height: 400px;
  justify-content: center;
  margin: auto;
  padding: auto;
  width: 400px;
}

.box {
  align-items: center;
  border: 2px solid $black;
  color: $font-color;
  cursor: pointer;
  display: flex;
  height: 133.33px;
  justify-content: center;
}

.player-wins {
  align-items: center;
  color: $font-color;
  display: flex;
  height: 133.33px;
  justify-content: center;
}

.start-game-holder {
  text-align: center;
}

.white {
  background-color: $white;
}
