@import '~bootstrap/scss/bootstrap';
// store styles here
//
$background-color: #919ade;
$font-color: #dfdfdf;
$white: #fff;
$grey: rgb(128, 128, 128);
$teal: rgb(0, 156, 161);
$black: #000;

body {
  background-color: $background-color;
}

.container {
  // margin: 200px auto;
  border: 1px solid $white;
  height: 400px;
  margin: auto;
  padding: auto;
  width: 400px;
}

.box {
  align-items: center;
  border: 1px solid $white;
  color: $font-color;
  cursor: pointer;
  display: flex;
  height: 133.33px;
  justify-content: center;
}

.start-game-holder {
  text-align: center;
}

.grey {
  background-color: $grey;
}

.teal {
  background-color: $teal;
}
