@import '~bootstrap/scss/bootstrap';
// store styles here
//
$background-color: #ccffff;
$font-color: #0000cc;
$white: #fff;
$black: #000;

body {
  background-color: $background-color;
}

.container {
  // margin: 200px auto;
  border: 1px solid $black;
  height: 400px;
  margin: auto;
  padding: auto;
  width: 400px;
}

.box {
  align-items: center;
  border: 2px solid $black;
  color: $font-color;
  cursor: pointer;
  display: flex;
  height: 133.33px;
  justify-content: center;
}

.start-game-holder {
  text-align: center;
}

.white {
  background-color: $white;
}

.teal {
  background-color: $teal;
}
